.mstheme     { separator-image: url(capsepa.gif); list-image-1: url(capbul1a.gif); 
               list-image-2: url(capbul2a.gif); list-image-3: 
               url(capbul3a.gif); nav-banner-image: url(capbanna.gif); 
               navbutton-horiz-normal: url(capnavha.gif); 
               navbutton-horiz-hovered: url(capnavhh.gif); 
               navbutton-horiz-pushed: url(capnavhs.gif); 
               navbutton-vert-normal: url(capnavva.gif); 
               navbutton-vert-hovered: url(capnavvh.gif); 
               navbutton-vert-pushed: url(capnavvs.gif); 
               navbutton-home-normal: url(caphomea.gif); 
               navbutton-home-hovered: url(caphomeh.gif); 
               navbutton-home-pushed: url(caphomea.gif); 
               navbutton-next-normal: url(capnexta.gif); 
               navbutton-next-hovered: url(capnexth.gif); 
               navbutton-next-pushed: url(capnexta.gif); 
               navbutton-prev-normal: url(capbacka.gif); 
               navbutton-prev-hovered: url(capbackh.gif); 
               navbutton-prev-pushed: url(capbacka.gif); navbutton-up-normal: 
               url(capupa.gif); navbutton-up-hovered: url(capuph.gif); 
               navbutton-up-pushed: url(capupa.gif) }
.mstheme-bannertxt { font-family: Arial, Helvetica; color: rgb(0, 0, 0); font-size: 5; font-style: 
               normal; font-weight: normal }
.mstheme-horiz-navtxt { font-family: arial, helvetica; color: rgb(255, 255, 255); font-size: 2; 
               font-style: normal; font-weight: normal }
.mstheme-vert-navtxt { font-family: arial, helvetica; color: rgb(255, 255, 255); font-size: 2; 
               font-style: normal; font-weight: normal }
.mstheme-navtxthome { font-family: arial, helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtnext { font-family: arial, helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtprev { font-family: arial, helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
.mstheme-navtxtup { font-family: arial, helvetica; color: rgb(255, 255, 255); font-size: 1; 
               font-style: normal; font-weight: normal }
ul           { list-style-image: url('capbul1a.gif') }
ul ul        { list-style-image: url('capbul2a.gif') }
ul ul ul     { list-style-image: url('capbul3a.gif') }
a:link       { color: rgb(0, 0, 153) }
a:active     { color: rgb(153, 201, 153) }
a:visited    { color: rgb(51, 153, 102) }
body         { background-color: rgb(255, 255, 255); color: rgb(0, 0, 0) }
table        { table-border-color-light: rgb(0, 0, 153); table-border-color-dark: 
               rgb(0, 0, 153); border-color: rgb(0, 0, 153) }
th           { border-color: rgb(0, 0, 153) }
td           { border-color: rgb(0, 0, 153) }
h1           { color: rgb(0, 0, 0) }
h2           {  }
h3           { color: rgb(0, 0, 0) }
h4           { color: rgb(0, 0, 0) }
h5           { color: rgb(0, 0, 0) }
h6           { color: rgb(0, 0, 0) }
hr           { color: rgb(0, 0, 153) }
button       {  }
label        {  }
.mstheme-text {  }
textarea     {  }
fieldset     { color: rgb(0, 0, 0) }
legend       { color: rgb(0, 0, 0) }
select       { color: rgb(0, 0, 0) }
caption      { color: rgb(0, 0, 0) }
.ms-addnew   { font-weight: normal; font-family: arial, helvetica; text-decoration: none; 
               color: #000099 }
.ms-alerttext { color: #DB6751; font-family: arial, helvetica }
.ms-alternating { background-color: #C6E4C6 }
.ms-announcementtitle { font-weight: bold }
.ms-appt     { color: #000000; overflow: hidden; height: 18px; text-align: center; 
               vertical-align: middle; text-overflow: ellipsis; 
               background-color: #336666; border: 2px solid #000099 }
.ms-appt a   { color: #000099 }
.ms-appt a:hover { color: #CC9933 }
.ms-apptsingle { overflow: hidden; vertical-align: middle; text-overflow: ellipsis; color: 
               #000000; height: 18px; border-left: 1px solid #000099; 
               border-right: 1px solid #000099 }
.ms-authoringcontrols { font-family: arial, helvetica; background-color: #C6E4C6; color: #000000 }
.ms-back     { background-color: #C6E4C6; vertical-align: top; padding-left: 4; 
               padding-right: 4; padding-top: 2; padding-bottom: 4 }
.ms-banner   { color: #99CC99; font-family: arial, helvetica }
.ms-banner a:link { color: #FFFFFF; text-decoration: none; font-weight: bold; font-family: 
               arial, helvetica }
.ms-banner a:visited { color: #FFFFFF; text-decoration: none; font-weight: bold; font-family: 
               arial, helvetica }
.ms-bannerframe, .ms-grheaderbackground, .ms-stormefree { background-color: #000099; background-repeat: repeat-x }
.ms-bodyareaframe { border-color: #99CC99 }
.ms-cal      { border-collapse: collapse; font-family: arial, helvetica; table-layout: fixed; 
               cursor: default }
.ms-calallday { vertical-align: top; text-align: center; width: 10%; height: 12px }
.ms-calbot   { height: 2px; border-left: 1px solid #000099; border-right: 1px solid #000099; 
               border-top: medium none inherit; 
               border-bottom: 1px solid #000099 }
.ms-caldmidhalfhour { height: 20px; border-color: #000099 }
.ms-caldmidhour { height: 20px; border-color: #000099 }
.ms-caldmidquarterhour { height: 20px; border: 0px none inherit }
.ms-caldow   { text-align: center; color: #000000; height: 20px; font-weight: bold; 
               vertical-align: top; border-left: 1px solid #000099; 
               border-right: 1px solid #000099; border-top: 1px solid #000099 }
.ms-caldowdown { vertical-align: middle; font-family: arial, helvetica; color: #000000; 
               text-align: center; font-weight: bold }
.ms-caldown  { vertical-align: top; color: #000000 }
.ms-caldspacer { height: 4px; border-left: 1px solid #000099; border-right: 1px solid #000099 }
.ms-calhalfhour { height: 12px; vertical-align: top; border-top: 1px solid #000099 }
.ms-calhead  { font-family: arial, helvetica; color: #FFFFFF; background-color: #000000; 
               text-align: center; border: medium none inherit; padding: 2px }
.ms-calhour  { width: 10%; height: 12px; vertical-align: top; border-top: 1px solid #000099 }
.ms-calmid   { height: 20px; border-left: 1px solid #000099; border-right: 1px solid #000099 }
.ms-calquarterhour { vertical-align: top; height: 12px; border-top: 0px none inherit }
.ms-calspacer { height: 4px; border-left: 1px solid #000099; border-right: 1px solid #000099 }
.ms-caltop   { vertical-align: top; height: 30px; width: 14%; border-left: 1px solid #000099; 
               border-right: 1px solid #000099; border-top: 1px solid #000099 }
.ms-calvspacer { width: 0px; background-color: #000099 }
.ms-categorytitle { font-weight: bold; text-decoration: none; font-family: arial, helvetica }
.ms-connerror { color: #db6751 }
.ms-dappt    { color: #000000; vertical-align: middle; overflow: hidden; text-align: center; 
               background-color: #336666; height: 18px; 
               border: 2px solid #000099 }
.ms-dapptsingle { height: 18px; color: #000000; vertical-align: middle; overflow: hidden; 
               border-left: 1px solid #000099; border-right: 1px solid #000099 }
.ms-datepicker { font-family: Arial, Helvetica, sans-serif; cursor: default; background-color: 
               #FFFFFF; color: #000000; border: 2px outset activeborder }
.ms-datepickeriframe { display: none; position: absolute; background-color: #FFFFFF; 
               background-attachment: scroll; background-repeat: repeat; 
               background-image: none; background-position: 0% }
.ms-dcal     { table-layout: fixed; font-family: arial, helvetica; cursor: default; 
               border-collapse: collapse; border-left: 1px solid #000099; 
               border-right: 1px solid #000099 }
.ms-descriptiontext { color: #000000; font-family: arial, helvetica }
.ms-descriptiontext a { color: #000099; font-family: arial, helvetica }
.ms-discussionseparator { color: #000099; height: 1px }
.ms-discussiontitle { color: #000000; font-family: arial, helvetica; font-weight: bold }
.ms-dpday    { cursor: hand; text-align: center; border: medium none inherit }
.ms-dpdow    { vertical-align: top; color: #000000; text-align: center; font-weight: bold; 
               border-left: medium none inherit; 
               border-right: medium none inherit; 
               border-top: medium none inherit; 
               border-bottom: 1px solid #000099 }
.ms-dpfoot   { text-align: center; height: 24px; font-style: italic; 
               border-left: medium none inherit; 
               border-right: medium none inherit; 
               border-top: 1px solid inherit; 
               border-bottom: medium none inherit }
.ms-dphead   { font-weight: bold; text-align: center; background-color: #99CC99; color: 
               #000000; border: medium none inherit }
.ms-dpnextprev { text-align: center; background-color: #99CC99; cursor: hand; font-weight: bold; 
               color: #000000; border: medium none inherit }
.ms-dpnonmonth { text-align: center; cursor: hand; color: #BBBBBB; border: medium none inherit }
.ms-dpselectedday { text-align: center; cursor: hand; background-color: #C6E4C6; 
               border: medium none inherit }
.ms-error    { font-weight: normal; color: #db6751; font-family: arial, helvetica }
.ms-filedialog td { height: 16px }
.ms-firstcalhour { width: 10%; height: 12px; vertical-align: top }
.ms-formbody { color: #000000; font-family: arial, helvetica; vertical-align: top }
.ms-formdescription { font-family: arial, helvetica; color: #808080 }
.ms-formdescription a { text-decoration: none; color: #000099 }
.ms-formlabel { color: #808080; font-size: .7em; font-weight: normal; font-family: verdana }
.ms-formrecurrence { font-weight: normal; font-family: arial, helvetica; vertical-align: top }
.ms-formtable .ms-formbody { line-height: 1.3em }
.ms-gb       { font-family: arial, helvetica; height: 18px; color: #000000; font-weight: bold; 
               background-color: #C6E4C6 }
.ms-gridt1   { color: #BBBBBB; font-family: arial, helvetica; text-align: center }
.ms-gridtext { cursor: default; height: 19px; font-family: arial, helvetica }
.ms-highlight { background-color: #000099 }
.ms-homepagetitle { color: #000000; font-weight: bold; font-family: arial, helvetica; 
               text-decoration: none }
.ms-homepagetitle:hover { color: #000099; text-decoration: underline }
.ms-hovercellactive { background-color: #99CC99; border: 1px solid #000099 }
.ms-hovercellactivedark { background-color: #C6E4C6; border: 1px solid #000099 }
.ms-imglibmenu { background-color: #C6E4C6; font-family: arial, helvetica; cursor: hand; 
               color: #000099 }
.ms-imglibmenuarea { background-color: #C6E4C6 }
.ms-imglibmenuhead { cursor: move }
.ms-imglibmenutext { color: #000099; font-weight: bold; cursor: move }
.ms-imglibthumbnail { background-color: #C6E4C6; border: 0px solid #99CC99 }
.ms-itemheader a { text-decoration: none; font-weight: bold; font-family: arial, helvetica; 
               color: #000000 }
.ms-itemheader a:hover { color: #000000; text-decoration: underline }
.ms-itemheader a:visited { color: #000000; text-decoration: none }
.ms-itemheader a:hover { text-decoration: underline }
.ms-long     { font-family: Arial, Helvetica, sans-serif; width: 386px }
.ms-main     { border-color: #99CC99 }
.ms-menuimagecell { background-color: #C6E4C6; cursor: hand }
.ms-mwsinstantiated a:hover { color: #CC9933; text-decoration: underline }
.ms-mwsinstantiated a:link, .ms-mwsinstantiated a:visited { text-decoration: none; color: #000099 }
.ms-mwsselectedinstance { color: #000000; text-decoration: none }
.ms-mwsuninstantiated a:hover { text-decoration: underline; color: #000099 }
.ms-mwsuninstantiated a:link, .ms-mwsuninstantiated a:visited { text-decoration: none; color: #000099 }
.ms-nav .ms-navwatermark { color: #B4D6B4 }
.ms-nav a    { text-decoration: none; font-weight: normal; font-family: arial, helvetica; 
               color: #000099 }
.ms-nav a:hover { color: #CC9933; text-decoration: underline }
.ms-nav a:link {  }
.ms-nav a:visited { color: #000099 }
.ms-nav td   { font-weight: normal; font-family: arial, helvetica; color: #000000 }
.ms-nav td, .ms-nav .ms-spzonelabel, .ms-input { font-family: arial, helvetica }
.ms-nav th   { color: #000000; font-weight: normal; font-family: arial, helvetica }
.ms-navframe { background-repeat: repeat; background-image: none; background-attachment: 
               scroll; background-color: #C6E4C6; border-color: #C6E4C6; 
               background-position: 0% }
.ms-navheader a, .ms-navheader a:link, .ms-navheader a:visited { font-weight: bold }
.ms-navline  { border-bottom: 1px solid #000099 }
.ms-pagecaption { color: #FFFFFF; font-family: arial, helvetica }
.ms-pageheaderdate { color: #000000; font-family: arial, helvetica }
.ms-pageheadergreeting { font-family: arial, helvetica; color: #000000 }
.ms-pagetitle { font-weight: bold; font-family: arial, helvetica; color: #000000 }
.ms-pagetitle a { text-decoration: none; color: #000099 }
.ms-pagetitle a:hover { text-decoration: underline; color: #CC9933 }
.ms-partline { background-color: #000099 }
.ms-partspacingvertical, .ms-partspacinghorizontal { padding-top: 10px }
.ms-propertysheet { font-family: arial, helvetica }
.ms-propertysheet a { text-decoration: none; color: #000099 }
.ms-propertysheet a:hover { text-decoration: underline; color: #CC9933 }
.ms-propertysheet a:visited { text-decoration: none; color: #339966 }
.ms-propertysheet a:hover { text-decoration: underline }
.ms-propertysheet th { font-family: arial, helvetica; color: #000000; font-weight: bold }
.ms-propgridbuilderbutton { width: 16px; background-color: #99CC99; display: none; 
               border: 1px solid #3366CC }
.ms-radiotext { cursor: default; height: 19px; font-family: verdana; text-align: left; 
               font-size: 10pt }
.ms-rtapplybackground { background-color: #000099; border: 0.02cm solid #3366CC }
.ms-rtremovebackground { background-color: transparent; border: 0.02cm solid #FFFFFF }
.ms-rttoolbardefaultstyle { font-weight: normal; font-family: arial, helvetica; font-variant: normal; 
               font-style: normal; font-size: 8pt }
.ms-searchcorner { background-image: none; background-color: #99CC99 }
.ms-searchform { background-color: #99CC99 }
.ms-sectionheader { color: #000000; font-weight: bold; font-family: arial, helvetica }
.ms-sectionheader a { color: #000000; text-decoration: none }
.ms-sectionheader a:hover { text-decoration: none; color: #000000 }
.ms-sectionheader a:visited { text-decoration: none; color: #000000 }
.ms-sectionline { background-color: #000099 }
.ms-selected { color: #000000; background-color: #336666 }
.ms-selected span { color: #336666 }
.ms-selectednav { background-repeat: repeat; background-attachment: scroll; background-color: 
               #FFFFFF; background-image: none; border: 1px solid #000000; 
               padding-top: 1px; padding-bottom: 2px; background-position: 0% }
.ms-selectedtitle { background-color: #C6E4C6; border: 1px solid #3366CC; padding-top: 1px; 
               padding-bottom: 2px }
.ms-separator { color: #000000 }
.ms-smallheader { font-weight: bold; font-family: arial, helvetica; color: #000000 }
.ms-smallsectionline { border-bottom: 1px solid #99CC99; padding-left: 0; padding-right: 0; 
               padding-top: 2; padding-bottom: 0 }
.ms-spbutton { font-family: arial, helvetica }
.ms-sperror  { color: #DB6751; font-family: arial, helvetica; 
               border-bottom: 2px solid #C6E4C6; padding: 2px }
.ms-splink   { color: #000099; font-family: arial, helvetica }
.ms-splink a:link, .ms-splink a:visited { color: #000099; text-decoration: none }
.ms-spzone   { border: 1px solid #000099; padding: 5px }
.ms-spzonecaption { font-family: arial, helvetica; color: #000099 }
.ms-spzoneibar { border: 3px solid #CC9933 }
.ms-spzonelabel { font-family: arial, helvetica; color: #000099; padding: 0 }
.ms-spzoneselected { border: 1px solid #CC9933; padding: 5px }
.ms-stormeestimated { background-color: #CC9933 }
.ms-stormefree { background-color: #0033CC }
.ms-stormeused { background-color: #339966 }
.ms-stylebody { font-size: 8pt; font-family: verdana }
.ms-stylebox { text-align: left; font-family: verdana; border: 1px solid #000099 }
.ms-styleheader { background-color: #C6E4C6; font-family: verdana; font-size: 0.68em }
.ms-styleheader a:hover, .ms-stylebody a:hover { color: #ff3300; text-decoration: underline }
.ms-styleheader a:link, .ms-stylebody a:link { text-decoration: none; color: #000099 }
.ms-styleheader a:visited, .ms-stylebody a:visited { text-decoration: none }
.ms-stylelabel { color: #000099; font-size: 8pt; font-family: verdana }
.ms-subsmanagecell { vertical-align: top; font-family: arial, helvetica; height: 18px; color: 
               #000000 }
.ms-subsmanageheader { font-weight: bold; vertical-align: top; text-decoration: none; font-family: 
               arial, helvetica; background-color: #C6E4C6 }
.ms-surveygvvbar { background-color: #000099; width: 9px; border-top: 0px solid #000099; 
               border-bottom: 0px solid #3366CC }
.ms-surveygvvbars { width: 20px }
.ms-surveyvbart { font-size: 7pt; color: #BBBBBB; font-family: verdana; text-align: center }
.ms-tabinactive { color: #000099; background-color: #C6E4C6; font-family: arial, helvetica; 
               border: 2px solid #C6E4C6; padding-left: 10px; padding-right: 
               10px; padding-top: 3px; padding-bottom: 3px }
.ms-tabinactive a:link, .ms-tabinactive a:hover, .ms-tabinactive a:visited { color: #000099; text-decoration: none }
.ms-tabselected { font-weight: bold; font-family: arial, helvetica; color: #99CC99; 
               background-color: #000099; border: 2px solid #000099; 
               padding-left: 10px; padding-right: 10px; padding-top: 3px; 
               padding-bottom: 3px }
.ms-titlearea { color: #000000; font-family: arial, helvetica }
.ms-titlearealine { background-color: #000099 }
.ms-toolbar, .ms-toolbar a:visited { font-family: arial, helvetica; color: #000099; text-decoration: none }
.ms-toolpanebody { padding-top: 2px; padding-bottom: 2px }
.ms-toolpaneborder { border-left: 1px solid #C6E4C6; border-right: 1px solid #C6E4C6; 
               border-top: medium solid none; border-bottom: medium solid none }
.ms-toolpaneclose { background-color: #99CC99 }
.ms-toolpaneerror { font-family: arial, helvetica; color: #db6751; padding: 2px }
.ms-toolpanefooter { font-family: arial, helvetica; color: #000000; background-color: #99CC99; 
               padding: 5px }
.ms-toolpaneframe { background-color: #C6E4C6; padding: 0px }
.ms-toolpaneheader { background-color: #99CC99; border-style: none }
.ms-toolpaneinfo { color: #000000; background-color: #C6E4C6; font-family: arial, helvetica; 
               padding-left: 5px; padding-right: 5px; padding-top: 5px; 
               padding-bottom: 0px }
.ms-toolpanetitle { font-weight: bold; font-family: arial, helvetica; background-color: #99CC99; 
               color: #000000; padding-top: 3px; padding-bottom: 3px }
.ms-toolpartspacing { padding-top: 8px }
.ms-toolstrip { color: #CC9933; background-color: #C6E4C6; border: 1px solid #000099 }
.ms-tpbody   { font-family: arial, helvetica; color: #000000 }
.ms-tpbody a:link, .ms-tpbody a:visited, .ms-tpbody a:hover { cursor: hand; text-decoration: none; color: #000099 }
.ms-tpborder { border: medium none inherit }
.ms-tpcommands {  }
.ms-tpheader { background-color: #000099 }
.ms-tpinput  { font-family: arial, helvetica; color: #FFFFFF }
.ms-tptitle  { font-family: arial, helvetica; color: #FFFFFF; font-weight: bold; 
               padding-top: 2px; padding-bottom: 2px }
.ms-underline { vertical-align: top; border-bottom: 1px solid #99CC99; padding-left: 4; 
               padding-right: 4; padding-top: 2; padding-bottom: 4 }
.ms-underlineback { vertical-align: top; background-color: #C6E4C6; 
               border-bottom: 1px solid #99CC99; padding-left: 4; 
               padding-right: 4; padding-top: 2; padding-bottom: 4 }
.ms-unselectednav { border: 1px solid #C6E4C6; padding-top: 1px; padding-bottom: 2px }
.ms-unselectedtitle { margin: 1px; padding-top: 1px; padding-bottom: 2px }
.ms-uploadborder { border: 1px solid #000099 }
.ms-uploadcontrol { background-color: #336666 }
.ms-vappt    { height: 12px; text-overflow: ellipsis; vertical-align: middle; color: #000000; 
               background-color: #B4D6B4; overflow: hidden; text-align: center; 
               border-left: 2px solid #000099; border-right: 2px solid #000099; 
               border-top: 1px solid #000099; border-bottom: 3px solid #000099; 
               padding-left: 3px; padding-right: 3px }
.ms-vappt a:hover { text-decoration: underline; color: #000000 }
.ms-vappt a:link {  }
.ms-vapptsingle { color: #000000; text-align: center; text-overflow: ellipsis; 
               background-color: #B4D6B4; vertical-align: middle; overflow: 
               hidden; border: 1px solid #000099 }
.ms-vapptsingle a, .ms-vappt a { text-overflow: ellipsis; font-family: arial, helvetica; text-decoration: none; 
               font-weight: normal; color: #000099; overflow: hidden }
.ms-vapptsingle a:hover { text-decoration: underline }
.ms-vapptsingle a:link {  }
.ms-vapptsingle a:visited {  }
.ms-vb       { vertical-align: top; color: #000000; font-family: arial, helvetica; height: 
               18px }
.ms-vb a, .ms-vb2 a, .ms-grstatustext a, .ms-vb-user a { color: #000099; text-decoration: none }
.ms-vb a:hover, .ms-vb2 a:hover, .ms-vb-user a:hover { text-decoration: underline; color: #CC9933 }
.ms-vb a:visited, .ms-vb2 a:visited, .ms-grstatustext a:visited, .ms-vb-user a:visited { text-decoration: none; color: #000099 }
.ms-vb a:hover, .ms-vb2 a:hover, .ms-vb-user a:hover { color: #CC9933; text-decoration: underline }
.ms-vb, .ms-vb2, .ms-grfont, .ms-vb-user { vertical-align: top; font-family: arial, helvetica }
.ms-vb-icon  { width: 16px; vertical-align: top; padding-top: 2px; padding-bottom: 0px }
.ms-vb2      { padding-top: 3px; padding-bottom: 0px }
.ms-vb2, .ms-vb-title, .ms-vb-icon, .ms-vb-user { border-top: 1px solid #99CC99 }
.ms-vcal     { font-family: arial, helvetica; cursor: default; border-collapse: separate; 
               table-layout: fixed }
.ms-verticaldots { border-left: medium none inherit; border-right: 1px solid #000099 }
.ms-vevt     { color: #000000; vertical-align: top; text-align: center; height: 12px; 
               overflow: hidden; text-overflow: ellipsis; font-weight: normal; 
               font-family: arial, helvetica; padding: 0px }
.ms-vevt a   { text-decoration: none; font-family: arial, helvetica; color: #000000; 
               font-weight: normal }
.ms-vevt a:hover { text-decoration: underline; color: #000000 }
.ms-vevt a:link {  }
.ms-vevt a:visited { color: #DFD664 }
.ms-vh       { font-weight: normal; text-decoration: none; color: #000099; font-family: 
               arial, helvetica }
.ms-vh a, .ms-vh a:visited, .ms-vh2 a, .ms-vh2 a:visited, .ms-vh-left a, .ms-vh-right a { color: #000099; text-decoration: none }
.ms-vh a:hover, .ms-vh2 a:hover { text-decoration: underline }
.ms-vh-icon  { font-weight: normal; font-family: arial, helvetica; vertical-align: top; 
               width: 22px; color: #000099; text-decoration: none }
.ms-vh-icon-empty { text-decoration: none; width: 0px; color: #000099; font-weight: normal; 
               font-family: arial, helvetica; vertical-align: top }
.ms-vh-left  { font-weight: normal; text-decoration: none; font-family: arial, helvetica; 
               color: #000099 }
.ms-vh-left-icon { width: 22px; color: #000099; font-family: arial, helvetica; text-decoration: 
               none; font-weight: normal }
.ms-vh-left-icon-empty { width: 0px; color: #000099; font-weight: normal; text-decoration: none; 
               font-family: arial, helvetica }
.ms-vh-right { font-family: arial, helvetica; color: #000099; text-decoration: none; 
               font-weight: normal }
.ms-vh-right-icon { width: 22px; color: #000099; font-weight: normal; font-family: 
               arial, helvetica; text-decoration: none }
.ms-vh-right-icon-empty { font-weight: normal; font-family: arial, helvetica; width: 0px; 
               text-decoration: none; color: #000099 }
.ms-vh2      { text-decoration: none; color: #000099; font-weight: normal; vertical-align: 
               top; font-family: arial, helvetica }
.ms-vhimage  { font-family: arial, helvetica; color: #434343; text-decoration: none; 
               vertical-align: top; font-weight: normal; width: 18pt }
.ms-viewselect a:link { font-family: arial, helvetica; color: #000099 }
.ms-wpbody   { font-family: arial, helvetica }
.ms-wpbody a:hover { color: #CC9933; text-decoration: underline }
.ms-wpbody a:link, .ms-wpbody a:visited { text-decoration: none; color: #000099 }
.ms-wpbody h1, .ms-tpbody h1 { font-weight: bold }
.ms-wpbody h2, .ms-tpbody h2 { font-weight: bold }
.ms-wpbody h3, .ms-tpbody h3 { font-weight: bold }
.ms-wpbody h4, .ms-tpbody h4 { font-weight: bold }
.ms-wpbody h5, .ms-tpbody h5 { font-weight: bold }
.ms-wpbody h6, .ms-tpbody h6 { font-weight: bold }
.ms-wpbody table, .ms-tpbody table {  }
.ms-wpbody td { font-family: arial, helvetica }
.ms-wpbody th, .ms-tpbody th { font-weight: bold }
.ms-wpborder { border-left: 1px solid #000099; border-right: 1px solid #000099; 
               border-top-style: none; border-bottom: 1px solid #000099 }
.ms-wpdesign { background-color: #C6E4C6 }
.ms-wpheader { background-repeat: repeat-x; background-image: url('blank.gif'); 
               background-color: #C6E4C6 }
.ms-wpmenu   { background-color: #C6E4C6 }
.ms-wpselected { border: 3px dashed #000099 }
.ms-wptitle  { color: #CC9933; font-weight: bold; font-family: arial, helvetica; 
               padding-top: 2px; padding-bottom: 2px }
.ms-wptitle a:hover { cursor: hand; color: #FFFF80; text-decoration: underline }
.ms-wptitle a:link, .ms-wptitle a:visited { text-decoration: none; color: #CC9933; cursor: hand }
.mstheme     { top-bar-button: url(capglob1.gif); navbutton-background-color: #FFFFFF }
.mstheme-topbar-font { font-family: arial, helvetica; color: #000000 }
.userbackground { background-color: #FFFFFF }
.userbutton, .userinput, .userselect { font-family: arial, helvetica; color: #000000 }
.usercaption { font-family: arial, helvetica; background-color: #C6E4C6 }
.usercell    { color: #000000; font-family: arial, helvetica; padding-left: 5px; 
               padding-right: 5px; padding-top: 2px; padding-bottom: 3px }
.usercellselected { background-color: #FFFFFF; color: #000000; font-family: arial, helvetica; 
               border: 1px solid #000000; padding-left: 4px; padding-right: 
               4px; padding-top: 1px; padding-bottom: 2px }
.usercommandarea { padding-top: 7px }
.userconfiguration { background-color: #C6E4C6; font-family: arial, helvetica }
.usercontrolgroup { padding-top: 2px; padding-bottom: 10px }
.userdottedline { overflow: hidden; background-image: url('dot.gif'); height: 1px; 
               background-repeat: repeat-x; background-color: transparent; 
               margin-bottom: 2px }
.userfooter  { width: 100%; padding-left: 7px; padding-right: 7px; padding-top: 10px; 
               padding-bottom: 7px }
.usergeneric { padding-left: 5px; padding-right: 5px; padding-top: 8px; padding-bottom: 7px }
.usergenericbody { padding-left: 17px; padding-right: 0px; padding-top: 5px; padding-bottom: 0px }
.usergenericbulletitem { padding-bottom: 2px }
.usergenericheader { color: #000000; font-weight: bold; font-family: arial, helvetica }
.usergenerictext {  }
.usernotification { color: #BBBBBB; font-family: arial, helvetica; padding: 4px }
.usersectionbody { width: 100%; padding-left: 7px; padding-right: 0px; padding-top: 0px; 
               padding-bottom: 0px }
.usersectionfooter { border-top: 1px solid #99CC99 }
.usersectionhead { width: 100%; color: #000000; padding-left: 0px; padding-right: 0px; 
               padding-top: 0px; padding-bottom: 3px }
.usersectiontitle { font-weight: bold; width: 100%; color: #000000; 
               border-bottom: 1px solid #99CC99; margin-bottom: 5px; 
               padding-bottom: 2px }
.usershadedregion { background-color: #C6E4C6; font-family: arial, helvetica }
.usertoolbar { background-repeat: repeat-x; background-image: url('toolgrad.gif'); 
               background-color: transparent; border: 1px solid #BBBBBB }
.usertoolbardisabledlink { font-family: arial, helvetica; color: #000099; padding: 4px }
.usertoolbarimage { cursor: hand; background-color: #BBBBBB; text-align: center; 
               border: medium none inherit }
.usertoolbarimagearea { font-weight: normal; font-family: arial, helvetica; padding-bottom: 5px }
.usertoolbarselectedimage { font-weight: bold; vertical-align: top; text-align: center; 
               border-left: medium none inherit; 
               border-right: medium none inherit; 
               border-top: medium none inherit; 
               border-bottom: 1px solid #000000 }
.usertoolbartextarea { font-weight: normal; font-family: arial, helvetica; padding-bottom: 5px }
.usertoolbartextarea a:hover { text-decoration: underline; color: #CC9933 }
.usertoolbartextarea a:link { text-decoration: none; color: #000099 }
.usertoolbartextarea a:visited { color: #000099; text-decoration: none }
a.ms-imglibpreviewtitle { text-overflow: ellipsis; width: 130; overflow: hidden }
body         { font-weight: normal; font-style: normal; font-family: Arial; 
               background-image: url('planodefundo.gif'); text-align: none; 
               vertical-align: none }
button       { font-style: normal; font-family: Arial, Helvetica, sans-serif; border-style: 
               solid; border-width: 1pt }
caption      { font-family: arial, helvetica; font-style: normal }
div.ms-titleareaframe { border-top: 4px solid #99CC99 }
fieldset     { font-family: arial, helvetica; font-style: normal; border-style: solid; 
               border-width: 1pt }
h1           { font-weight: bold; font-family: arial, helvetica; font-style: normal }
h2           { font-weight: normal; font-family: arial, helvetica; font-style: normal }
h3           { font-weight: normal; font-style: normal; font-family: arial, helvetica }
h4           { font-weight: normal; font-family: arial, helvetica; font-style: normal }
h5           { font-weight: normal; font-family: arial, helvetica; font-style: normal }
h6           { font-weight: normal; font-family: arial, helvetica; font-style: normal }
hr           { color: #000099; height: 2px }
il           { list-style-image: url('capbul2d.gif') }
img.ms-button { cursor: hand }
img.ms-imglibpreviewarea { border: 3px solid #C6E4C6; margin-top: 3px }
img.thumbnail { border: 3px solid #99CC99 }
label, .mstheme-label { font-style: normal; font-family: arial, helvetica }
legend       { font-style: normal; font-family: arial, helvetica }
marquee      { font-family: arial, helvetica }
select       { font-style: normal; font-family: arial, helvetica; border-style: solid; 
               border-width: 1pt }
span.thumbnail { width: 5px; position: relative; padding-left: 10; padding-right: 10; 
               padding-top: 16; padding-bottom: 16 }
span.userdata { behavior: url(#default#userData); display: none }
table        { vertical-align: none; font-weight: normal; font-style: normal; font-family: 
               Arial; text-align: none }
table.ms-form td { width: 100%; vertical-align: top }
table.ms-form th { font-weight: normal; color: #000000; font-family: arial, helvetica; 
               vertical-align: top }
table.ms-imglibpreviewtable { display: none }
table.ms-imglibtitletable { border: 0px solid #99CC99 }
table.ms-titleareaframe { border-left: 0px none inherit }
table.ms-toolbar { background-image: url('toolgrad.gif'); border: 1px solid #BBBBBB }
td.ms-titleareaframe { color: #000000; border-color: #99CC99 }
textarea     { font-style: normal; font-family: arial, helvetica; border-width: 1pt }
th           { font-family: arial, helvetica; font-style: bold }
tr.ms-imglibselectedrow { background-color: #C6E4C6 }
